.sidebar-events-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.eventList {
    height: 300px;
    width: 200px;
    overflow-x: scroll;
}

.eventList-element {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-bottom: 1px solid black;
    transition: transform 0.2s;
    margin-right: 10px;
    margin-left: 10px;
}

.eventList-element:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.eventList-header {
    font-size: small;
}

.event-title {
    font-size: x-small;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    overflow: hidden;
}
