.post-tile-container {
    /* display: flex;
    flex-direction: column;
    width: 25vw;
    margin: 1em; */
    transition: transform 0.2s;

    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.post-tile-container:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.post-tile-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: wheat;
}

.post-tile-header-user{
    margin-top: 13px;
    margin-left: 10px;
}

.post-tile-header-left {
    display: flex;
    align-items: center;
}

.post-tile-content-video {
    position: relative;
    padding-top: 56.25%;
}

.react-player {
    position: absolute;
    top: 3em;
    left: 0;
}

.MuiSvgIcon-fontSizeSmall{
    margin-left: 10px;
}

.star-ratings{
    margin-top: 8px;
    margin-right: 10px;
}
